.post {
  margin: 20rem 0;
  padding: 1rem;
  background-color: var(--postsBackgroundColor);
  border-radius: 8px;
  border-color: var(--postsBorderColor);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.8);
  animation: animate-in 2s ease-out forwards;
}

.author {
  font-size: 1rem;
  font-weight: bold;
  color: var(--authorColor);
  margin: 0;
  text-transform: uppercase;
}

.text {
  white-space: pre-wrap;
  font-size: 0.8rem;
  margin: 0.25rem 0 0 0;
  color: var(--postColor);
  font-style: italic;
}

@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
