@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
  /* primary */
  --primary-0: none;
  --primary-1: none;
  /* grey */
  --grey-0: #fbfbfb;
  --grey-1: #f5f5f5;
  --grey-2: #f0f0f2;
  --grey-3: #d9d7e0;
  --grey-4: #b7b5bd;
  --grey-5: #78757a;
  --grey-6: #635e69;
  --grey-7: #48434f;
  --grey-8: #36313d;
  --grey-9: #232129;
  /* red */
  --red-0: #fffafa;
  --red-1: #fde7e7;
  --red-2: #ffbab8;
  --red-3: #ff8885;
  --red-4: #ff5a54;
  --red-5: #fa2915;
  --red-6: #ec1818;
  --red-7: #da0013;
  --red-8: #ce0009;
  --red-9: #b80000;

  /* Root */
  --mainBackground: #000000;
  --mainTitle: #232129;
  --mainText: #ffffff;
  /* Section 1 */
  --mainBackgroundLightS1: #b0bec5;
  --mainBackgroundDarkS1: #263238;
  /* Fonts */
  --mainFont: 'Source Code Pro', monospace;
  --defaultFontSize: 100%;

  /* Post Colors */
  --postsBackgroundColor: #635e69;
  --postsBorderColor: #635e69;
  --authorColor: #ff8885;
  --postColor: #d9d7e0;
  /* Form Colors */
  --formBackgroundColors: #635e69;
  --formLabelColor: #e0f2f1;
  --formInputArea: #f5f5f5;
  --formInputTextArea: #000000;
}

/* Main App */

* {
  box-sizing: border-box;
}

:root {
  min-height: 100vh;
  font-family: var(--mainFont);
  font-size: var(--defaultFontSize);
  background-image: radial-gradient(
    circle,
    var(--mainBackgroundLightS1) 0%,
    var(--mainBackgroundDarkS1) 100%
  );
  min-height: 100vh;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  text-align: center;
  color: var(--mainTitle);
}
